%h1 Editing data source

= form_for @data_source do |f|
  - if @data_source.errors.any?
    #error_explanation
      %h2= "#{pluralize(@data_source.errors.count, "error")} prohibited this data source from being saved:"
      %ul
        - @data_source.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :api
    = f.text_field :api, readonly: true
  .field
    = f.label :dictionary
    = f.text_area :dictionary
  .actions
    = f.submit 'Update'

