%h1= "New #{'consolidated' if @data_source.is_consolidated?}#{' version of' if action_name == 'iterate_version'} data source"

= form_for @data_source, html: {class: :data_source} do |f|
  - if @data_source.errors.any?
    #error_explanation
      %h2= "#{pluralize(@data_source.errors.count, "error")} prohibited this data source from being saved:"
      %ul
        - @data_source.errors.full_messages.each do |msg|
          %li= msg
  = render f
  .actions
    = f.submit 'Create'

= link_to 'Back', '/'
