%h1= "New #{'consolidated' if @data_source.is_consolidated?}#{' version of' if action_name == 'iterate_version'} data source"

= form_for @data_source, html: {class: :data_source} do |f|
  = render f
  .actions
    = f.submit 'Create'

= link_to 'Back', '/'
