<header id="full">
  <h3>API Key</h3>
  <p class="view"><%= link_to('Get an API Key', new_user_registration_path) %></p>
  <p class="view"><%= link_to('Manage Your API Key', authenticated_root_path) %></p>
  <h3>Top APIs</h3>
  <% top_apis.each do |text, path| %>
      <p class="view"><%= link_to(text, "#{Rails.configuration.developerportal_url}/#{path}") %></p>
  <% end %>
  <h3>API Resources</h3>
  <% api_resources.each do |text, path| %>
      <p class="view"><%= link_to(text, "#{Rails.configuration.developerportal_url}/#{path}") %></p>
  <% end %>
  <%- if current_user && current_user.admin? %>
      <br>
      <h3>Dynamic APIs <%= link_to("+", new_data_source_path ) %></h3>
      <% DataSource.directory.each do |data_source| %>
          <p class="view"><%= link_to("#{data_source.name} (v#{data_source.version_number})", url_for(data_source) ) %></p>
      <% end %>
  <% end %>

</header>