<header id="full">
  <h3>API Key</h3>
  <p class="view"><%= link_to('Get an API Key', main_app.new_user_registration_path) %></p>
  <p class="view"><%= link_to('Manage Your API Key', main_app.authenticated_root_path) %></p>
  <h3>Top APIs</h3>
  <% top_apis.each do |text, path| %>
      <p class="view"><%= link_to(text, "#{Rails.configuration.developerportal_url}/#{path}") %></p>
  <% end %>
  <h3>API Resources</h3>
  <% api_resources.each do |text, path| %>
      <p class="view"><%= link_to(text, "#{Rails.configuration.developerportal_url}/#{path}") %></p>
  <% end %>
  <%- if current_user && current_user.admin? %>
      <br>
      <h3>Dynamic APIs <%= link_to("+", main_app.new_data_source_path ) %> <%= link_to("><", main_app.new_data_source_path(consolidated: true) ) %></h3>
      <% DataSource.all.each do |data_source| %>
          <p class="view">
            <%= link_to("#{data_source.name} (v#{data_source.version_number})", main_app.url_for(data_source) ) %>
            <%= "><" if data_source.is_consolidated? %>
          </p>
      <% end %>
  <% end %>

</header>