<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="shortcut icon" href="<%= asset_path("favicon.ico") %>" type="image/x-icon">
    <link rel="icon" href="<%= asset_path("favicon.ico") %>" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Trade.gov Developer Portal | Trade.gov Developer Portal</title>
    <%= stylesheet_link_tag :application, media: 'all' %>

    <!--[if lt IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

    <!-- Back Soon! — https://github.com/GSA/back-soon -->
    <script type="text/javascript">
      url = "api.trade.gov";
      msg="<p><strong><span>Due to a lapse in government funding</span>, all "+url+" sites, services and online survey collection requests will be unavailable until further notice.</strong></p><p class='bs_commerce'>Updates regarding government operating status and resumption of normal operations can be found at <a href='https://commerce.gov' title='https://commerce.gov'>commerce.gov</a>.</p>",window.onload=function(){document.body.innerHTML+="<div id='bs'><div>"+msg+"<a href='#' title='Close' id='bs_close'>Continue to "+url+" »</a></div></div>"},document.onclick=function(n){"bs"!=n.target.id&&"bs_close"!=n.target.id||(bs.style.display="none")};
    </script>
    <style media="screen">#bs{background:#000;opacity:1;width:100%;height:100%;position:absolute;top:0;left:0;right:0;bottom:0}#bs div{position:absolute;top:1.5em;left:0;right:0;margin:0 auto;padding:2em 2em 2.5em;background:#fff;width:90%;box-sizing:border-box;color:#000;font-family:Helvetica,Arial,sans-serif}#bs span{background:#FFC116}#bs a{color:blue}#bs_close{margin-top:15px;padding:10px 15px;border:2px solid blue;display:inline-block;font-weight:700}#bs p{margin-top:0;font-size:24px;line-height:30px}#bs .bs_commerce{font-size:18px;line-height:24px}@media only screen and (min-width: 600px){#bs div{padding:2.5em 2.5em 3em;top:5em;width:600px}}</style>
  </head>

  <body>
    <%= render "layouts/topbar" %>
    <div class="container">
      <div class="wrapper">
        <%= render "layouts/header" %>
        <section>
          <div id="body-content">

            <nav>
              <% if user_signed_in? %>
                <em><%= "Signed in as #{current_user.full_name}" %></em> |
                <%= current_page?(main_app.authenticated_root_path) ? 'API Key' : link_to('API Key', main_app.authenticated_root_path) %> |
                <%= current_page?(main_app.edit_user_registration_path) ? 'Account' : link_to('Account', main_app.edit_user_registration_path) %> |
                <% if current_user && current_user.admin? %>
                  <%= link_to("Endpoint Me Documentation", main_app.data_sources_documentation_path ) %> |
                <% end %>
                <%= link_to('Logout', main_app.destroy_user_session_path) %>
                
              <% else %>
                <%= current_page?(main_app.new_user_session_path) || current_page?(main_app.unauthenticated_root_path) ? 'Login' : link_to('Login', main_app.new_user_session_path) %> |
                <%= current_page?(main_app.new_user_registration_path) ? 'Sign Up' : link_to('Sign Up', main_app.new_user_registration_path) %>
              <% end %>
            </nav>

            <% if notice %>
              <p class="notice"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert"><%= alert %></p>
            <% end %>

            <%= yield %>

          </div>
        </section>
        <%= render "layouts/footer" %>
        <%= javascript_include_tag :application %>
      </div>
    </div>
  </body>
</html>
