<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="shortcut icon" href="<%= asset_path("favicon.ico") %>" type="image/x-icon">
    <link rel="icon" href="<%= asset_path("favicon.ico") %>" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Trade.gov Developer Portal | Trade.gov Developer Portal</title>
    <%= stylesheet_link_tag :application, media: 'all' %>

    <!--[if lt IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
  </head>

  <body>
    <%= render "layouts/topbar" %>
    <div class="container">
      <div class="wrapper">
        <%= render "layouts/header" %>
        <section>
          <div id="body-content">

            <nav>
              <% if user_signed_in? %>
                <em><%= "Signed in as #{current_user.full_name}" %></em> |
                <%= current_page?(main_app.authenticated_root_path) ? 'API Key' : link_to('API Key', main_app.authenticated_root_path) %> |
                <%= current_page?(main_app.edit_user_registration_path) ? 'Account' : link_to('Account', main_app.edit_user_registration_path) %> |
                <% if current_user && current_user.admin? %>
                  <%= link_to("Endpoint Me Documentation", main_app.data_sources_documentation_path ) %> |
                <% end %>
                <%= link_to('Logout', main_app.destroy_user_session_path) %>
                
              <% else %>
                <%= current_page?(main_app.new_user_session_path) || current_page?(main_app.unauthenticated_root_path) ? 'Login' : link_to('Login', main_app.new_user_session_path) %> |
                <%= current_page?(main_app.new_user_registration_path) ? 'Sign Up' : link_to('Sign Up', main_app.new_user_registration_path) %>
              <% end %>
            </nav>

            <% if notice %>
              <p class="notice"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert"><%= alert %></p>
            <% end %>

            <%= yield %>

          </div>
        </section>
        <%= render "layouts/footer" %>
        <%= javascript_include_tag :application %>
      </div>
    </div>
  </body>
</html>
